$container-sm: 530px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1152px;

$brakpoint-xs: 0;
$brakpoint-sml: 460px;
$brakpoint-sm: 576px;
$brakpoint-smk: 630px;
$brakpoint-mdg: 729px;
$brakpoint-md: 786px;
$brakpoint-lgs: 992px;
$brakpoint-lg: 992px;
$brakpoint-xlg: 1031px;
$brakpoint-xl: 1230px;
